@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 240, 71%, 3%;
    --foreground: 60 9.1% 97.8%;
    --paper: 208, 96%, 11%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 208, 77%, 22%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 195, 97%, 51%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 240 5% 65%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 240 5% 26%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 240 5% 26%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 240 5% 26%;
    --input: 240 5% 26%;
    --ring: 195, 97%, 51%;
    --radius: 0.5rem;
  }
}


@layer base {
  * {
    @apply border-border antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }
}
